#showcase {
	min-height: 40vh;
	background: url('../../../assets/shallow-focus-photo-of-people-riding-convertible-coupe-3200058.jpg');
	background-size: cover;
	background-position: center;
}

.search-content {
	background: rgba(0, 0, 0, .5);
}

#w1 { 
	background: url('http://tuvehiculo.clbs9571.now.sh/public/476_243324551.jpg');
	background-size: cover;
	background-position: center;
}
#w2 {
	background: url('../../../assets/vehicle-interior-close-up-photography-2794001.jpg');
	background-size: cover;
	background-position: center;
}
#w3 {
	background: url('http://tuvehiculo.clbs9571.now.sh/public/rrswbphev006.jpg');
	background-size: cover;
	background-position: center;
}

.wrapper {
	padding-top: 2em;
	height: 510px;
	margin-bottom: 5em;
}

#veil {
	background: rgba(0, 0, 0, .2);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
}