<div class="absolute lg:flex lg:flex-row sm:flex-col w-full min-h-full max-h-full p-0 m-0">
	<nav class="z-10 top-0 left-0 p-4 pt-20 text-2x1 min-h-screen bg-gray-300 text-gray-700 lg:w-1/3 md:w-full sm:w-full sm:min-w-screen">
		<p class="text-2xl pt-10 md:pt-2">Vehicles</p>
		<div class="results p-3">
			<p class="text-2xl">{{ params.make }} {{ params.model }}</p>
			<p class="text-sm">({{ posts.length }}) results</p>
		</div>
		<div class="p-2">
			<p class="text-2xl pb-2">Sort by</p>
			<p class="text-sm p-5">Price</p>
			<input class="bg-transparent text-gray-800 focus:outline-none border-b border-gray-600 py-2 px-2 inline-block appearance-none leading-normal inline-block w-1/3 mr-2 placeholder-gray-800" type="text" placeholder="From" [value]="params.min_price">
			<input class="bg-transparent text-gray-800 focus:outline-none border-b border-gray-600 py-2 px-2 inline-block appearance-none leading-normal inline-block w-1/3 mr-2 placeholder-gray-800" type="text" placeholder="To" [value]="params.max_price">
			<button class="ml-2 my-4 bg-transparent hover:bg-black text-blue-800 font-semibold hover:text-white py-2 px-4 border border-blue-800 hover:border-transparent">
			  search
			</button>
			<p class="text-sm p-5">Year</p>
			<input class="bg-transparent text-gray-800 focus:outline-none border-b border-gray-600 py-2 px-2 inline-block appearance-none leading-normal inline-block w-1/3 mr-2 placeholder-gray-800" type="text" placeholder="From" [value]="params.min_year">
			<input class="bg-transparent text-gray-800 focus:outline-none border-b border-gray-600 py-2 px-2 inline-block appearance-none leading-normal inline-block w-1/3 mr-2 placeholder-gray-800" type="text" placeholder="To" [value]="params.max_year">
			<button class="ml-2 my-4 bg-transparent hover:bg-black text-blue-800 font-semibold hover:text-white py-2 px-4 border border-blue-800 hover:border-transparent">
			  search
			</button>
		</div>
	</nav>

	<div class="absolute flex flex-col justify-center items-center self-center" *ngIf="loading === true" id="spinner">
		loading
	</div>

	<div class="overflow-y-scroll lg:w-5/6 sm:w-full mt-16 relative">
		<div class="flex flex-wrap mt-4 mb-16" *ngIf="loading !== true">
			<li class="list-none" *ngFor="let post of posts">
				<div class="lg:max-w-sm sm:w-full rounded overflow-hidden shadow-lg lg:m-5 md:m-5 sm:m-0 sm:mb-4 inline-block">
				  <a class="w-full h-64" routerLink="/posts/{{post.vehicle_id}}">
				  	<img class="w-full h-64 object-cover" src="http://tuvehiculo.clbs9571.now.sh/public/{{post.src}}" width="240" height="220" alt="">
				  </a>
				  <div class="px-6 py-4">
				    <div class="font-bold text-xl mb-2">{{ post.title }}</div>
				    <p class="text-gray-800 text-lg font-semibold">
				      {{ post.make }} {{ post.model }}, {{ post.year }}
				    </p>
				  </div>
				  <div class="px-6 py-4">
				    <span class="inline-block border border-gray-900 rounded-full px-3 py-1 text-sm font-semibold text-gray-900 mr-2">
				    	{{ post.price }}
				    </span>
				  </div>
				</div>
			</li>
		</div>
		<app-footer></app-footer>
	</div>
</div>