<nav class="navbar p-4">
  <a href="/" class="float-none md:float-left md:mr-auto mb-4 md:mb-0 text-xl text-gray-400 font-bold block">autoscom</a>
  <ul class="flex-1 md:flex md:justify-end"  *ngIf="loggedIn === false">
      <li class="mr-6 inline-block mb-4 md:mb-0 text-center">
        <a class="text-gray-200 hover:text-gray-400" routerLink="/upload">
          Log in or sign up
        </a>
      </li>
      <li class="mr-6 inline-block mb-4 md:mb-0 text-center">
        <a class="text-gray-700 hover:text-gray-800 hover:bg-gray-600 rounded-lg font-bold px-4 py-2" routerLink="/signin"
        style="background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6)">
          Sell my car
        </a>
      </li>
  </ul>
  <ul class="flex justify-end" *ngIf="loggedIn !== false">
    <li class="mr-6 block md:inline-block">
      <a class="text-gray-200 font-semibold hover:text-gray-400" routerLink="/upload">
        Sell my car
      </a>
    </li>
    <li class="mr-6 block md:inline-block">
      <a class="text-base text-gray-300 hover:text-gray-400" routerLink="/logout">
        logout
      </a>
    </li>
  </ul>  
</nav>